@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

.side-bar, .side-bar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

    .side-bar li a {
        display: block;
        text-indent: -500em;
        height: 5em;
        width: 5em;
        line-height: 5em;
        text-align: center;
        color: #72739f;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
    }

        .side-bar li a:before {
            font-family: FontAwesome;
            speak: none;
            text-indent: 0em;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 1.4em;
        }

        .side-bar li a.client:before {
            content: "\f007";
        }

        .side-bar li a.reservation:before {
            content: "\f073";
        }

        .side-bar li a.room:before {
            content: "\f015";
        }

        .side-bar li a.home:before { /* Expand Collapse */
            content: "\f039";
        }

        .side-bar-menu li a:hover, .side-bar li a:hover, .side-bar li:first-child a {
            background: #267fdd;
            color: #fff;
        }

.side-bar-menu {
    overflow: hidden;
    left: 5em;
    z-index: 5;
    width: 0;
    height: 0;
    transition: all 0.1s ease-in-out;
}

    .side-bar-menu li a {
        display: block;
        height: 5em; /*visochina na expandnatoto menu*/
        line-height: 5em; /* visochina na texta */
        text-align: center;
        color: #72739f;
        text-decoration: none;
        position: relative;
        font-family: verdana;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
    }

    .side-bar-menu li:first-child a {
        height: 5em;
        background: #267fdd;
        color: #fff;
        line-height: 5;
    }


.para {
    color: #033f72;
    padding-left: 100px;
    font-size: 3em;
    margin-bottom: 20px;
}

.open {
    width: 10em;
    height: 100%;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 100px;
    }

    .side-bar {
        height: 5em;
        width: 100%;
    }

        .side-bar li {
            display: inline-block;
            float: left;
        }

    .side-bar-menu li a {
        width: 100%;
    }

    .side-bar-menu {
        width: 100%;
        left: 0;
        height: 0;
    }

    .open {
        width: 100%;
        height: auto;
    }

    .para {
        padding-left: 5px;
    }
}

@media screen and (max-height: 34em) {
    .side-bar li, .side-bar-menu {
        font-size: 70%;
    }
}

@media screen and (max-height: 34em) and (max-width: 500px) {
    .side-bar {
        height: 3.5em;
    }
}
